@import '../../assets/constants.scss';

.navigation-bar {
  display: flex;

  &__list {
    list-style: none;
    display: flex;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }
  }

  &__item {
    margin: 0rem 1.52rem;

    &:first-of-type {
      margin-left: 0rem;
    }

    &:last-of-type {
      margin-right: 0rem;
    }

    @media screen and (max-width: 720px) {
      margin: 10px 0px;
    }
  }

  &__item-ref {
    text-decoration: none;
    color: $color-black-brown;
  }

  &__item-ref-text {
    font-size: 0.875rem;
    white-space: nowrap;
  }
}
