@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url(src/assets/fonts/Merriweather/merriweather-300.eot);
  src: url(src/assets/fonts/Merriweather/merriweather-300.woff2) format("woff2"), url(src/assets/fonts/Merriweather/merriweather-300.woff) format("woff"), url(src/assets/fonts/Merriweather/merriweather-300.ttf) format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Merriweather/merriweather-regular.eot);
  src: url(src/assets/fonts/Merriweather/merriweather-regular.woff2) format("woff2"), url(src/assets/fonts/Merriweather/merriweather-regular.woff) format("woff"), url(src/assets/fonts/Merriweather/merriweather-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Merriweather/merriweather-bold.eot);
  src: url(src/assets/fonts/Merriweather/merriweather-bold.woff2) format("woff2"), url(src/assets/fonts/Merriweather/merriweather-bold.woff) format("woff"), url(src/assets/fonts/Merriweather/merriweather-bold.ttf) format("truetype"); }

/* @include setFont('Montserrat', normal, normal, '../assets/fonts/Montserrat/montserrat-regular');
@include setFont('Montserrat', normal, bold, '../assets/fonts/Montserrat/montserrat-bold');
@include setFont('Quicksand', normal, normal, '../assets/fonts/Quicksand/quicksand-regular');
@include setFont('Quicksand', normal, bold, '../assets/fonts/Quicksand/quicksand-bold');
@include setFont('OpenSans', normal, normal, '../assets/fonts/OpenSans/open-sans-regular');
@include setFont('OpenSans', normal, bold, '../assets/fonts/OpenSans/open-sans-bold');
 */

/* $color-gray-blue: rgb(173, 181, 189);
$color-blue: rgb(139, 164, 249);
$color-purple: rgba(188, 156, 255, 1);
$color-green: rgba(111, 207, 151, 1);
$color-dark-shade-5: rgba(31, 32, 65, 0.05);
$color-dark-shade-10: rgba(31, 32, 65, 0.1);
$color-dark-shade-25: rgba(31, 32, 65, 0.25);
$color-dark-shade-30: rgba(31, 32, 65, 0.3);
$color-dark-shade-50: rgba(31, 32, 65, 0.5);
$color-dark-shade-75: rgba(31, 32, 65, 0.75);
$color-dark-shade-100: rgba(31, 32, 65, 1);

$gradient-purple-to-blue: linear-gradient(to bottom, rgb(188, 156, 255), rgb(139, 164, 249));
$gradient-purple-to-blue-50: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
$gradient-purple-to-blue-25: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
$gradient-green-to-turquoise: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);
$gradient-yellow-to-peach: linear-gradient(180deg, rgb(255, 227, 156) 0%, rgb(255, 186, 156) 100%);
$gradient-gray-to-blue: linear-gradient(180deg, rgb(145, 145, 145) 0%, rgb(61, 73, 117) 100%); */
/* $color-brown-50: rgba(64, 52, 50, 0.5); */
*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html {
  font-family: Merriweather, Georgia, serif;
  font-size: 16px;
  color: #343030;
  background: #f6f3f3; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }

p,
span {
  line-height: 150%; }

/* $color-gray-blue: rgb(173, 181, 189);
$color-blue: rgb(139, 164, 249);
$color-purple: rgba(188, 156, 255, 1);
$color-green: rgba(111, 207, 151, 1);
$color-dark-shade-5: rgba(31, 32, 65, 0.05);
$color-dark-shade-10: rgba(31, 32, 65, 0.1);
$color-dark-shade-25: rgba(31, 32, 65, 0.25);
$color-dark-shade-30: rgba(31, 32, 65, 0.3);
$color-dark-shade-50: rgba(31, 32, 65, 0.5);
$color-dark-shade-75: rgba(31, 32, 65, 0.75);
$color-dark-shade-100: rgba(31, 32, 65, 1);

$gradient-purple-to-blue: linear-gradient(to bottom, rgb(188, 156, 255), rgb(139, 164, 249));
$gradient-purple-to-blue-50: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
$gradient-purple-to-blue-25: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
$gradient-green-to-turquoise: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);
$gradient-yellow-to-peach: linear-gradient(180deg, rgb(255, 227, 156) 0%, rgb(255, 186, 156) 100%);
$gradient-gray-to-blue: linear-gradient(180deg, rgb(145, 145, 145) 0%, rgb(61, 73, 117) 100%); */
/* $color-brown-50: rgba(64, 52, 50, 0.5); */
.button {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.3125rem;
  background: #403432;
  outline: none; }
  .button_with-check-mark {
    background: #5b3a32; }
    .button_with-check-mark .button__text {
      margin-left: 0.1875rem; }
  .button:hover {
    background: #776763; }
  .button:disabled {
    background: #c1b4b1; }
  .button__check-mark {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-family: 'Material Icons';
    color: #f4f6f9; }
  .button__text {
    max-width: -webkit-fill-available;
    font-family: Merriweather, Georgia, serif;
    font-size: 0.875rem;
    font-weight: bold;
    color: #f4f6f9;
    white-space: nowrap;
    overflow: hidden; }

/* $color-gray-blue: rgb(173, 181, 189);
$color-blue: rgb(139, 164, 249);
$color-purple: rgba(188, 156, 255, 1);
$color-green: rgba(111, 207, 151, 1);
$color-dark-shade-5: rgba(31, 32, 65, 0.05);
$color-dark-shade-10: rgba(31, 32, 65, 0.1);
$color-dark-shade-25: rgba(31, 32, 65, 0.25);
$color-dark-shade-30: rgba(31, 32, 65, 0.3);
$color-dark-shade-50: rgba(31, 32, 65, 0.5);
$color-dark-shade-75: rgba(31, 32, 65, 0.75);
$color-dark-shade-100: rgba(31, 32, 65, 1);

$gradient-purple-to-blue: linear-gradient(to bottom, rgb(188, 156, 255), rgb(139, 164, 249));
$gradient-purple-to-blue-50: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
$gradient-purple-to-blue-25: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
$gradient-green-to-turquoise: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);
$gradient-yellow-to-peach: linear-gradient(180deg, rgb(255, 227, 156) 0%, rgb(255, 186, 156) 100%);
$gradient-gray-to-blue: linear-gradient(180deg, rgb(145, 145, 145) 0%, rgb(61, 73, 117) 100%); */
/* $color-brown-50: rgba(64, 52, 50, 0.5); */
.search-bar {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .search-bar__title {
    max-width: 26rem;
    margin-bottom: 0.7rem;
    font-weight: bold; }
  .search-bar__container {
    max-width: 26rem;
    display: flex; }
  .search-bar__input {
    caret-color: #403432;
    width: 100%;
    padding: 0rem 1rem;
    border: 1px solid #e1e1e1;
    background: transparent;
    outline: none;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #343030; }
    .search-bar__input::-webkit-input-placeholder {
      background: #9f9f9f;
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent;
      border: 0rem solid transparent; }
    .search-bar__input:focus, .search-bar__input:hover {
      border: 1px solid #b5b5b5; }
  .search-bar__button {
    min-width: 7.625rem; }

/* $color-gray-blue: rgb(173, 181, 189);
$color-blue: rgb(139, 164, 249);
$color-purple: rgba(188, 156, 255, 1);
$color-green: rgba(111, 207, 151, 1);
$color-dark-shade-5: rgba(31, 32, 65, 0.05);
$color-dark-shade-10: rgba(31, 32, 65, 0.1);
$color-dark-shade-25: rgba(31, 32, 65, 0.25);
$color-dark-shade-30: rgba(31, 32, 65, 0.3);
$color-dark-shade-50: rgba(31, 32, 65, 0.5);
$color-dark-shade-75: rgba(31, 32, 65, 0.75);
$color-dark-shade-100: rgba(31, 32, 65, 1);

$gradient-purple-to-blue: linear-gradient(to bottom, rgb(188, 156, 255), rgb(139, 164, 249));
$gradient-purple-to-blue-50: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
$gradient-purple-to-blue-25: linear-gradient(to bottom, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
$gradient-green-to-turquoise: linear-gradient(180deg, rgb(111, 207, 151) 0%, rgb(102, 210, 234) 100%);
$gradient-yellow-to-peach: linear-gradient(180deg, rgb(255, 227, 156) 0%, rgb(255, 186, 156) 100%);
$gradient-gray-to-blue: linear-gradient(180deg, rgb(145, 145, 145) 0%, rgb(61, 73, 117) 100%); */
/* $color-brown-50: rgba(64, 52, 50, 0.5); */
.ui-kit {
  display: flex;
  flex-direction: column;
  padding: 3.55rem 5rem 4.3125rem; }
  .ui-kit__font-demos {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.75rem; }
  .ui-kit__font-demo:nth-of-type(1) {
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 2.75rem; }
  .ui-kit__font-demo:nth-of-type(2) {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.45rem; }
  .ui-kit__font-demo:nth-of-type(3) {
    font-size: 1.125rem;
    margin-bottom: 1.5rem; }
  .ui-kit__font-demo:nth-of-type(4) {
    font-weight: bold;
    margin-bottom: 1.5rem; }
  .ui-kit__font-demo:nth-of-type(5) {
    font-weight: bold;
    margin-bottom: 1.5rem; }
  .ui-kit__font-demo:nth-of-type(6) {
    margin-bottom: 1.5rem; }
  .ui-kit__font-demo:nth-of-type(7) {
    font-weight: 300; }
  .ui-kit__buttons-demo {
    margin-bottom: 3.7rem; }
  .ui-kit__buttons-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .ui-kit__buttons {
    display: flex; }
  .ui-kit__button {
    width: 7.375rem;
    display: flex;
    margin-right: 1.5rem; }
    .ui-kit__button:last-of-type {
      margin-right: 0rem; }
  .ui-kit__search-bars-title {
    margin-bottom: 1.3rem;
    font-weight: bold;
    font-size: 1.5rem; }
  .ui-kit__search-bar {
    margin-bottom: 2.1rem; }
    .ui-kit__search-bar:last-of-type {
      margin-bottom: 0rem; }


/*# sourceMappingURL=ui-kit.css.map*/