.test-component {
  display: flex;
  
  &__button {
    width: 300px;
    height: 100px;
    background: rgb(197, 197, 197);

    &_color {
      &_red {
        color: red;
      }
      &_blue {
        color: blue;
      }
    }
  }

  &__image {
    width: 300px;
    height: 200px;
  }
}
