extends ../base/base

block title 
  title Главная

block body
  div(class=["index"])
    p(class="index__title") UI kit
    ul(class=["index__refs-list"])
      li(class=["index__item"])
        a(class=["index__ref"] href="./ui-kit.html")
          p(class="index__ref-text") UI kit
    p(class=["index__title"]) Production pages
    ul(class=["index__refs-list"])
      li(class=["index__item"])
        a(class=["index__ref"] href="./prod-pages.html")
          p(class=["index__ref-text"]) Production pages
