@import '../../assets/constants.scss';

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  font-family: Merriweather, Georgia, serif;
  font-size: 16px;
  color: $color-black-brown;
  background: rgb(246, 243, 243);
}

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

p,
span {
  line-height: 150%;
}
