.header {
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  padding: 1.35rem 22rem;
  border-bottom: 1px solid rgb(225, 225, 225);

  &__logo {
    padding-top: 0.1rem;
  }

  &__navigation-bar {
    margin-left: 3rem;
  }

  &__search-bar {
    width: 416px;
  }
}
