.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.35rem 0rem;
  background: rgb(236, 234, 234);

  &__container {
    width: 1215px;
    display: grid;
    grid-template-columns: min-content auto max-content max-content;
    align-items: center;

    @media screen and (max-width: 1440px) {
      width: 100%;
      padding: 0rem 6.875rem;
    }
    @media screen and (max-width: 1400px) {
      grid-template-columns: max-content auto max-content;
    }
    @media screen and (max-width: 1300px) {
      grid-template-columns: max-content auto;
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: max-content;
    }
    @media screen and (max-width: 630px) {
      padding: 0rem 17%;
    }
  }

  &__logo {
    padding-top: 0.1rem;
  }

  &__navigation-bar {
    margin-left: 3rem;

    @media screen and (max-width: 1300px) {
      justify-self: end;
    }
    @media screen and (max-width: 900px) {
      margin: 10px 0px;
    }
    @media screen and (max-width: 720px) {
      justify-self: start;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-right: 3.2rem;
    font-size: 0.875rem;
    color: rgb(85, 85, 85);

    &-symbol {
      margin-right: 0.6rem;
    }

    @media screen and (max-width: 1300px) {
      margin: 10px 0px;
    }
    @media screen and (max-width: 1300px) and (min-width: 900px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: rgb(85, 85, 85);

    &-symbol {
      margin-right: 0.65rem;
    }

    @media screen and (max-width: 1400px) {
      margin: 10px 0px;
    }
    @media screen and (max-width: 1400px) and (min-width: 900px) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
