.footer {
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto max-content max-content;
  align-items: center;
  padding: 1.35rem 22rem;
  background: rgb(236, 234, 234);

  &__logo {
    padding-top: 0.1rem;
  }

  &__navigation-bar {
    margin-left: 3rem;
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-right: 3.2rem;
    font-size: 0.875rem;
    color: rgb(85, 85, 85);

    &-symbol {
      margin-right: 0.6rem;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: rgb(85, 85, 85);

    &-symbol {
      margin-right: 0.65rem;
    }
  }
}
